*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.env

# CDK asset staging directory
.cdk.staging
cdk.out

assets/local_testing_data
assets/notebooks

tests
AWSCLIV2.pkg

TicketMasterAnalysis (1).py
