*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
.env

# CDK asset staging directory
.cdk.staging
cdk.out


assets/test.ipynb
assets/test2.ipynb
assets.analysis.ipynb
assets/ticketmaster_2.py
assets/output.csv


AWSCLIV2.pkg

TicketMasterAnalysis (1).py
